.header {
    width: 95%;
    min-height: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #212121;
    align-self: center;

}
.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.inner_el * {
    padding: 0;
    margin: 0;
}

.inner_el {
    display: flex;
    align-items: center;
    color: #3DABF7;
    font-weight: 600;
    font-size: 16px;
    border-radius: 2px;
    padding: 10px 15px;
    gap: 10px;
    cursor: pointer;
}

.inner_el_bg {
    background: #3DABF7;
    color: #FFFFFF;
}
.header_login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.login {
    font-weight: 600;
    font-size: 16px;
    color: #3DABF7;
    cursor: pointer;
}

.registry {
    font-weight: 600;
    font-size: 16px;
    color: #3DABF7;
    border: 1px solid #3DABF7;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
}